# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Odoo logs & sessions
*.log
*.pid
*.session

# Virtual environments
venv/
.env/

# VSCode
.vscode/

# PyCharm
.idea/

# macOS
.DS_Store

# Docker
*.tar
postgres_data/